<!DOCTYPE html>
<html lang="en">
	<head>
		<!--加载某些公共文件   ！前表示使用的加载器-->
		<%= require('html-loader!./layout/head-common.html') %>
		<title>happymall电商平台</title>
	</head>
	<body>
		
		<!-- 引用公共文件 且必须在自己引用的js文件上面
		<script type="text/javascript" src="../../dist/js/base.js"></script>
		<script type="text/javascript" src="../../dist/js/index.js"></script>
		-->
		<!--引入头部导航-->
		<%= require('html-loader!./layout/nav.html') %>

		<!--引入头部 搜索框+图标-->
		<%= require('html-loader!./layout/header.html') %>

		<div class="page-wrap w">
			<!--通用侧边导航-->
			<%= require('html-loader!./layout/nav-side.html') %>
			<!--主体内容-->
			<div class="content with-nav">test</div>
		</div>
		

		<%= require('html-loader!./layout/footer.html') %>

	</body>
</html>
